<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cscb07project">

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSCB07Project">
        <activity
            android:name=".ViewOrders"
            android:exported="true" />
        <activity
            android:name=".ViewStoreActivity"
            android:exported="true" />
        <activity
            android:name=".ViewStores"
            android:exported="true" />
        <activity
            android:name=".CustomerUsageEntryScreen"
            android:exported="true" />
        <activity
            android:name=".SignupActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StoreOwnerViewIncomingActivity"
            android:parentActivityName=".StoreOwnerHomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StoreOwnerHomeActivity" />
        </activity>
        <activity
            android:name=".StoreOwnerViewFulfilledActivity"
            android:parentActivityName=".StoreOwnerHomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StoreOwnerHomeActivity" />
        </activity>
        <activity
            android:name=".StoreOwnerEditActivity"
            android:parentActivityName=".StoreOwnerHomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StoreOwnerHomeActivity" />
        </activity>
        <activity
            android:name=".StoreOwnerHomeActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".StoreOwnerAddActivity"
            android:parentActivityName=".StoreOwnerHomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StoreOwnerHomeActivity" />
        </activity>
        <activity
            android:name=".RegisterStoreActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>